body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("https://img.wallpapersafari.com/desktop/1600/900/26/77/aYCLqd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
